body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    text-align: center;
}

header {
    background: #C0AFE2;
    color: white;
    padding: 15px;
    font-size: 30px;
}

.cart {
    position: fixed;
    top: 10px;
    right: 50px;
    font-size: 100px;
}

.products {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: 100vh;
    gap: 25px; /* เพิ่มระยะห่างระหว่างสินค้า */
}

.product {
    padding: 40px;
    border-radius: 10px;
    max-width: 1200px; /* จำกัดขนาดสูงสุด */
    margin: 0 15px; /* เพิ่ม margin ซ้ายขวา */
    box-sizing: border-box; /* รวม padding เข้ากับขนาด */
}

button {
    background: #9379C2;
    color: rgb(102, 2, 102);
    border: 2;
    padding: 10px;
    cursor: pointer;
    border-radius: 20px; /* เพิ่มมุมโค้งให้ปุ่ม */
}

button:hover {
    background: #eb7ee2;
}

h2 {
    font-size: 20px;
    font-weight: bold;
}

.product h2 {
    font-size: 45px;
    font-family: 'Arial', sans-serif;
    font-weight: bold;
}

.product-item p {
    font-size: 24px; /* ขนาดเล็กลงนิดหน่อย */
    font-weight: bold;
    color: #333;
    font-family: 'Arial', sans-serif;
}

.add-to-cart {
    font-size: 20px;
    font-weight: bold;
}







